.bitcoin-app{
    display: flex;
    height: 80vh;
    gap: 40px;
    align-items: center;
    justify-content: center;
    .user{
        font-size: 25px;
        margin-bottom: 10px;
        background-color: #ffd6a4;
        height: fit-content;
        padding: 47px;
        border-radius: 8px;
        line-height: 45px;

    }
}